html, 
body,
#map-canvas { 
	height: 100%; 
	margin: 0; 
	padding: 0;
}

.navbar {
	margin-bottom: 0px;
	padding-right: 5px;
	border-radius: 0px;
}

#alert-bar {
   position: fixed;
   top: 60px;
   right: 5px;
}

.close {
	padding-left: 5px;
}

.alert {
	margin-bottom: 5px;
}

.glyphicon-remove {
	color: #d43f3a;
}

.dropdown-menu > li > a {
	padding-left: 10px;
	padding-right: 10px;
}
ul.dropdown-menu li a {
	overflow: hidden;
}

.helper-gif-image {
	height: 300px;
	width: 400px;
}

