html, 
body,
#map-canvas { 
	height: 100%; 
	margin: 0; 
	padding: 0;
}

.navbar {
	margin-bottom: 0px;
	padding-right: 5px;
	border-radius: 0px;
}

#alert-bar {
   position: fixed;
   top: 60px;
   right: 5px;
}

.close {
	padding-left: 5px;
}

.alert {
	margin-bottom: 5px;
}


